{#
<!-- This Source Code Form is subject to the terms of the Mozilla Public
   - License, v. 2.0. If a copy of the MPL was not distributed with this file,
   - You can obtain one at http://mozilla.org/MPL/2.0/.
 -->
#}

{% extends "base.html" %}


{% block extra_site_css %}
{% compress css %}
<link rel="stylesheet" href="{{ static("dates/css/about-calendar-url.css") }}">
{% endcompress %}
{% endblock %}


{% block page_title %}About the calendar URL{% endblock %}

{% block content %}
<h2>About the calendar URL</h2>

<p>Your calendar URL is unique to you and can be used without logging in in external calendar.
For example iCal, Outlook, Zimbra or Google Calendar.</p>

<p>Your URL is:
<a class="url" href="{{ calendar_url }}">{{ calendar_url }}</a>
</p>

<p class="goback"><a href="/">&larr; Go back to Calendar dashboard</a></p>


<div class="instruction">
<h2>To import into Zimbra</h2>

<p><strong>1. Click to add a new calendar</strong><br>
<img class="thumbnail" src="{{ static('img/about-calendar-url/zimbra-click-to-add.png') }}" alt="Click to add">
</p>

<p><strong>2. Give it a name and paste in your URL</strong><br>
<img class="thumbnail" src="{{ static('img/about-calendar-url/zimbra-adding-calendar.png') }}" alt="Enter your URL">
</p>

<p><strong>3. Press OK</strong>
</p>
</div>

<div class="instruction">
<h2>To import into Google Calendar</h2>

<p><strong>1. Click to add a new calendar</strong><br>
<img class="thumbnail" src="{{ static('img/about-calendar-url/google-click-to-add.png') }}" alt="Click to add">
</p>

<p><strong>2. Paste in your URL</strong><br>
<img class="thumbnail" src="{{ static('img/about-calendar-url/google-adding-calendar.png') }}" alt="Enter your URL">
</p>

<p><strong>3. Press Add Calendar</strong>
</p>
</div>

{% endblock %}
