{#
<!-- This Source Code Form is subject to the terms of the Mozilla Public
   - License, v. 2.0. If a copy of the MPL was not distributed with this file,
   - You can obtain one at http://mozilla.org/MPL/2.0/.
 -->
#}

{% extends "base.html" %}

{% block extra_site_css %}

{% compress css %}
<link rel="stylesheet" href="{{ static("css/libs/fireworks.css") }}">
{% endcompress %}
<style>
/* https://bugzilla.mozilla.org/show_bug.cgi?id=745790 */
body { overflow: hidden; }
</style>
{% endblock %}

{% block extra_site_js %}
{% compress js %}
<script src="{{ static("js/libs/soundmanager2-nodebug-jsmin.js") }}"></script>
<script src="{{ static("js/libs/fireworks.js") }}"></script>
<script src="{{ static("js/libs/jquery.cookie.min.js") }}"></script>
<script src="{{ static("dates/js/emails_sent.js") }}"></script>
{% endcompress %}
<script>
soundManager.url = '/static/js/libs/swf/';
</script>
{% endblock %}


{% block content %}
<h2>Absolutely brilliant!</h2>

<p>Email sent to:<br>

{% for user in emailed_users %}
<code>{{ full_name_form(user) }}</code><br>
{% endfor %}

</p>


{% if show_fireworks %}
<div id="fireworks-template">
 <div id="fw" class="firework"></div>
 <div id="fp" class="fireworkParticle"><img src="{{ static('img/particles.gif') }}" alt="" /></div>
</div>
<div id="fireContainer"></div>
{% endif %}

{% endblock %}
