{#
<!-- This Source Code Form is subject to the terms of the Mozilla Public
   - License, v. 2.0. If a copy of the MPL was not distributed with this file,
   - You can obtain one at http://mozilla.org/MPL/2.0/.
 -->
#}

{% extends "base.html" %}


{% block extra_site_css %}
{% compress css %}
<link rel="stylesheet" href="{{ static("dates/css/following.css") }}">
{% endcompress %}
{% endblock %}


{% block extra_site_js %}
{% compress js %}
<script src="{{ static("dates/js/following.js") }}"></script>
{% endcompress %}
{% endblock %}


{% block page_title %}People you're following (or not){% endblock %}

{% block content %}
<h2>People you're following (or not)</h2>


<form action="{{ url('dates.save_following') }}" method="post">{{ csrf() }}
<h3>Add more people to follow:</h3>
<input name="search" id="id_search" size="50" placeholder="Start typing name or email of a person you want to follow">
<p class="tip-note"><strong>Note!</strong> If you can't find the person you're looking for,
maybe that person hasn't used the PTO app before and can therefore not be found.</p>
</form>

<div id="observed">
<h3>People you follow:</h3>
<table>
{% for user, reason in observed %}
  <tr>
    <td>{{ full_name_form(user, avoid_email=True) }}</td>
    <td class="reason">{{ reason }}</td>
    <td><a href="#" class="remove" data-id="{{ user.pk }}">remove</a></td>
  </tr>
{% endfor %}
</table>
</div>

<div id="not-observed">
<h3>People you <em>don't</em> follow:</h3>
<table>
{% for user in not_observed %}
  <tr>
    <td>{{ full_name_form(user, avoid_email=True) }}</td>
    <td><a href="#" class="restore" data-id="{{ user.pk }}">restore</a></td>
  </tr>
{% endfor %}
</table>
</div>

<div class="clearer">&nbsp;</div>

<p class="goback"><a href="/">&larr; Go back to Calendar dashboard</a></p>

{% endblock %}
