{% extends "base.html" %}
{#
<!-- This Source Code Form is subject to the terms of the Mozilla Public
   - License, v. 2.0. If a copy of the MPL was not distributed with this file,
   - You can obtain one at http://mozilla.org/MPL/2.0/.
 -->
#}

{% block extra_site_css %}
{% compress css %}
<link rel="stylesheet" href="{{ static("css/libs/fullcalendar.css") }}">
<link rel="stylesheet" href="{{ static("dates/css/home.css") }}">
{% endcompress %}
{% endblock %}


{% block extra_site_js %}
<script>
var CALENDAR_FIRST_DAY = {{ first_day }}; // 0=Sunday, 1=Monday
</script>

{% compress js %}
<script src="{{ static("js/libs/fullcalendar.min.js") }}"></script>
<script src="{{ static("dates/js/home.js") }}"></script>
{% endcompress %}

{% endblock %}


{% block content %}

{% if recently_created %}
<div class="flash">
<a href="/" class="close" title="click to close">x</a>
<p>You just created: <span class="legend">{{ truncatewords(recently_created, 45) }}</span>
{#
   some day we might implement an undo feature which isn't trivial
   because it would involve sending another email to say that user has
   changed his/her mind and it's not saved which people were notified.
   <a href="">Undo addition?</a>
#}
</p>
</div>
{% endif %}

<div id="calendar">

<p><a name="calendarurl"></a>

<div id="dialog-edit" title="Want to edit this?">
<p>You can't edit the event but you can
<a href="">Add a new one on top?</a></p>
</div>

<a href="{{ calendar_url }}"><img src="{{ static('img/calendar-icon.png') }}" alt="Calendar"></a>
To add this to an external calendar (e.g. iCal or Outlook) you need this URL:
<a href="{{ calendar_url }}">{{ calendar_url }}</a>
<span class="reset-link">
(<a href="{{ url('dates.reset_calendar_url') }}" class="small-link">reset your calendar URL</a>,
 <a href="{{ url('dates.about_calendar_url') }}" class="small-link" title="Click to find out more about how this works">read more</a>)
</span>
<br>
<a href="{{ url('dates.duplicate_report') }}"><img src="{{ static('img/duplicate-icon.png') }}" alt="Duplicate report"></a>
To find suspicious duplicate submissions use the <a href="{{ url('dates.duplicate_report') }}">Duplicate report</a>
</div>

<div id="pto_taken" class="extra-info">
<h2>How much PTO have I taken?</h2>

<p>You have taken
<strong>{{ taken }}</strong>
this year.
</p>

{% if country_totals %}
  <p>Out of a total of
    <strong>{{ country_totals.holidays }} days</strong>
    {% if country_totals.sickdays %}
    and <strong>{{ country_totals.sickdays }} sick days</strong>
    {% endif %}
    and <strong>1 birthday day</strong>

    in your country ({{ country }}).
  </p>

{% else %}
  {% if unrecognized_country %}
  <p>Unfortunately not able to quickly give a number of total days for your country ({{ country }}).</p>
  {% else %}
  <p>You have not specified what country you are in.
  <a href="{{ url('users.profile') }}">Check your profile settings</a>.
  </p>
  {% endif %}
{% endif %}

</div>

<div class="extra-info">
<p>See the Intranet for more information:</p>
<ul>
  <li><a href="https://intranet.mozilla.org/Policies,_Benefits,_Etc.#PTO.2C_Holidays.2C_and_Leave">PTO Policies and Leaves references</a></li>
  <li><a href="https://intranet.mozilla.org/HolidaySchedule">Worldwide Holiday Schedule reference</a></li>
  <li><a href="https://intranet.mozilla.org/Paid_Time_Off_%28PTO%29">US PTO reference</a></li>
</ul>
</div>

{#

  COMMENTED OUT FOR THE MOMENT
  WHILST WE DECIDE TO KEEP IT AT ALL

<div id="rightnow" class="extra-info">
<h2>Who's on PTO right now?</h2>

<dl>
{% for user in right_now_users %}
  <dt>
    {% if user == request.user %}
    <strong>You are!</strong>
    {% else %}
    {{ full_name_form(user) }}
    {% endif %}

  </dt>
  {% for days_left, entry in right_nows[user] %}
    <dd><a href="{{ entry_to_list_url(entry) }}"
           title="{{ entry.details }}"
	   >ends in
           {% trans count=days_left %}
           1 day
           {% pluralize %}
           {{ days_left }} days
           {% endtrans %}
           on
           {{ format_date(entry.end, shorter=True) }}
           </a>
    </dd>
  {% endfor %}
{% else %}
<dd><em>no one at the moment</em></dd>
{% endfor %}
</dl>

{% if right_now_too_many %}
<p>And <strong>{{ right_now_too_many }} more...</strong>
<a href="?all-rightnow#rightnow">Load them all</a>
</p>
{% endif %}
</div>

#}

{% if mobile %}
<p>It appears you're on a mobile device. <a href="{{ url('mobile.home') }}">Want the mobile version instead?</a>
</p>
{% endif %}
<div class="clearer">&nbsp;</div>
{% endblock %}
