{#
<!-- This Source Code Form is subject to the terms of the Mozilla Public
   - License, v. 2.0. If a copy of the MPL was not distributed with this file,
   - You can obtain one at http://mozilla.org/MPL/2.0/.
 -->
#}

{% extends "base.html" %}

{% block extra_site_css %}
{% compress css %}
<link rel="stylesheet" href="{{ static("css/libs/datatable/css/demo_table.css") }}">
<link rel="stylesheet" href="{{ static("dates/css/list.css") }}">
{% endcompress %}
{% endblock %}


{% block extra_site_js %}
<script>
var DATE_MIN = new Date({{ first_date.year }}, {{ first_date.month }}-1, {{ first_date.day }});
var DATE_MAX = new Date({{ last_date.year }}, {{ last_date.month }}-1, {{ last_date.day }});
{% if first_filed_date %}
var FILED_MIN = new Date({{ first_filed_date.year }}, {{ first_filed_date.month }}-1, {{ first_filed_date.day }});
{% else %}
var FILED_MIN = new Date({{ today.year }}, {{ today.month }}-1, {{ today.day }});
{% endif %}
var FILED_MAX = new Date({{ today.year }}, {{ today.month }}-1, {{ today.day }});
var DATA_URL = '{{ url('dates.list_json') }}';
</script>
{% compress js %}
<script src="{{ static("js/libs/jquery.dataTables.js") }}"></script>
<script src="{{ static("dates/js/list.js") }}"></script>
{% endcompress %}
{% endblock %}


{% block content %}
<form id="filter_form" action=".">
<table id="filters" border="0">
    <tr>
		<td>
			PTO between:
		</td>
		<td>
                        {{ form.date_from|safe }}
                         -
                        {{ form.date_to|safe }}
		</td>
		<td>
			Filed:
		</td>
		<td>
                        {{ form.date_filed_from|safe }}
                        -
                        {{ form.date_filed_to|safe }}
		</td>
		<td>
			Name:
		</td>
		<td>
			{{ form.name|safe }}
		</td>
		<td rowspan="2">
			<button type="submit">Apply filters</button><br />
			<button type="reset">Clear filters</button>
		</td>
	</tr>
	<tr>
		<td>
			&nbsp;
		</td>
		<td>
                <!-- nothing -->
		</td>
		<td>
			&nbsp;
		</td>
		<td>
                <!-- nothing -->
		</td>
		<td>
			Country:
		</td>
		<td>
                        {{ form.country|safe }}
		</td>
	</tr>
</table>
</form>
<div id="formats">
	Formats:
	<ul>
		<li class="active" title="You're lookin' at it">Table</li>
		<li><a class="format" href="{{ url('dates.list_csv') }}?{{ query_string }}" id="format-csv" title="Good for spreadsheet software">CSV / Excel</a></li>
		<!--
		<li><a class="format" href="?format=atom" id="format-atom" title="Good for feed readers">Atom</a></li>
		<li><a class="format" href="?format=ical" id="format-ical" title="Good for calendar apps">iCal</a></li>
		<li><a class="format" href="?format=json" id="format-json" title="Good for mash-ups">JSON</a></li>
		<li><a class="format" href="?format=sql" id="format-sql" title="Good for importing test data">SQL</a></li>
		-->
	</ul>
</div>

<div id="pto"><!-- not sure what this does -->
</div>


<div class="pto_table_container">
        <table id="pto_table" class="display tablesorter">
                <thead>
                        <tr>
                                <th>Email</th>
                                <th>First name</th>
                                <th>Last name</th>
                                <th style="width:80px">Date filed</th>
                                <th style="width:50px">Days</th>
                                <th style="width:80px">Start</th>
                                <th style="width:80px">End</th>
                                <th>City</th>
                                <th style="width:50px">Country</th>
                                <th>Details</th>
                        </tr>
                </thead>
                <tbody></tbody>
        </table>
</div>

<div id="load-placeholder">
<p><em>Select something to filter on and I'll get to work!</em></p>
</div>

<div class="clearer">&nbsp;</div>

{% endblock %}
