{#
<!-- This Source Code Form is subject to the terms of the Mozilla Public
   - License, v. 2.0. If a copy of the MPL was not distributed with this file,
   - You can obtain one at http://mozilla.org/MPL/2.0/.
 -->
#}

{% extends "base.html" %}


{% block extra_site_css %}
{% compress css %}
<link rel="stylesheet" href="{{ static("dates/css/notify.css") }}">
{% endcompress %}
{% endblock %}


{% block extra_site_js %}
{% compress js %}
<script src="{{ static("dates/js/notify.js") }}"></script>
{% endcompress %}
{% endblock %}


{% block content %}

<form action="." method="post">{{ csrf() }}
<table>
{{ form|safe }}
<tr>
  <td><a href="/">&larr; cancel</a></td>
  <td><input type="submit" value="Next &rarr;"></td>
</tr>
<tr id="managers-notified">
  <td>&nbsp;</td>
  <td>
  The following managers will be notified:<br>
  {% for manager_details in all_managers %}
    <code>{{ full_name_form(manager_details) }}</code>{% if not loop.last %}, {% endif %}
  {% endfor %}
  </td>
</tr>
</table>

</form>
{% endblock %}
