{#
<!-- This Source Code Form is subject to the terms of the Mozilla Public
   - License, v. 2.0. If a copy of the MPL was not distributed with this file,
   - You can obtain one at http://mozilla.org/MPL/2.0/.
 -->
#}

<!doctype html>
<html{% if use_manifest %} manifest="{{ url('mobile.appcache') }}"{% endif %}>
<head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block page_title %}Mozilla PTO{% endblock %}</title>
        {{ css('libs/jquery_mobile') }}
        {{ css('mobile') }}
        {{ js('mobile') }}

</head>
<body>
{% block body %}
{% endblock %}
</body>
</html>
