{#
<!-- This Source Code Form is subject to the terms of the Mozilla Public
   - License, v. 2.0. If a copy of the MPL was not distributed with this file,
   - You can obtain one at http://mozilla.org/MPL/2.0/.
 -->
#}

<div data-role="page" id="notify"><!-- notify page -->

  <div data-role="header">
    <h1>Notify</h1>
    {% include "mobile/homeicon.html" %}
  </div>

  <div data-role="content">
  <form action="{{ url('mobile.notify') }}" method="post">
        <fieldset>
                <div data-role="fieldcontain">
                <label for="id_start">Start date (YYYY-MM-DD):</label>
                <input type="text" name="start" id="id_start" value="">
                </div>

                <div data-role="fieldcontain">
                <label for="id_end">End date (YYYY-MM-DD):</label>
                <input type="text" name="end" id="id_end" value="">
                </div>

                <div data-role="fieldcontain">
                <label for="id_details">Details:</label>
                <textarea id="id_details" cols="40" rows="8" name="id_details"></textarea>
                </div>

                <button type="submit" data-theme="a">Next</button>
        </fieldset>

  </form>
  </div>

</div>
