{#
<!-- This Source Code Form is subject to the terms of the Mozilla Public
   - License, v. 2.0. If a copy of the MPL was not distributed with this file,
   - You can obtain one at http://mozilla.org/MPL/2.0/.
 -->
#}

<!doctype html>
<html {% if use_manifest %}manifest="{{ url('mobile.appcache') }}"{% endif %}>
<head>
        <meta charset="utf-8">
        <meta name="HandheldFriendly" content="True">
        <meta name="MobileOptimized" content="320">
        <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="apple-touch-icon-precomposed" href="{{ static('mobile/img/apple-touch-icon.png') }}">
	<link rel="shortcut icon" href="{{ static('mobile/img/apple-touch-icon.png') }}">

        <title>{% block page_title %}Mozilla PTO{% endblock %}</title>

        {% compress css %}
        <link rel="stylesheet" href="{{ static("css/libs/jquery.mobile-1.1.0.min.css") }}">
        <link rel="stylesheet" href="{{ static("mobile/css/mobile.css") }}">
        {% endcompress %}

        {% compress js %}
        <script src="{{ static("js/libs/jquery-1.7.2.min.js") }}"></script>
        <script src="{{ static("js/libs/date.js") }}"></script>
        <script src="{{ static("mobile/js/mobile.js") }}"></script>
        <script src="{{ static("js/libs/jquery.mobile-1.1.0.min.js") }}"></script>
        {% endcompress %}


</head>
<body>
{% block body %}
{% endblock %}
</body>
</html>
