{#
<!-- This Source Code Form is subject to the terms of the Mozilla Public
   - License, v. 2.0. If a copy of the MPL was not distributed with this file,
   - You can obtain one at http://mozilla.org/MPL/2.0/.
 -->
#}

<div data-role="page" id="rightnow" data-add-back-btn="true"><!-- right now page -->

  <div data-role="header">
    <h1>Vacation right now</h1>
    {% include "mobile/homeicon.html" %}
  </div>

  <div data-role="content">
    <h3>People on vacation right now:</h3>
    <p class="loading">figuring that out...</p>
    <dl class="now"></dl>

    <h3>Upcoming Vacation:</h3>
    <p class="loading">figuring that out...</p>
    <dl class="upcoming"></dl>
  </div>

</div>
