{% extends "base.html" %}

{% block extra_site_css %}
{{ css('dates.home') }}
{% endblock %}


{% block content %}

<div id="calendar">
</div>

<div id="rightnow" class="extra-info">
<h2>Who's on PTO right now?</h2>

<dl>
{% for user in right_now_users %}
  <dt>{{ full_name_form(user) }}</dt>
  {% for days_left, entry in right_nows[user] %}
    <dd><a href="{{ entry_to_list_url(entry) }}"
           title="{{ entry.details }}"
	   >ends in
           {% trans count=days_left %}
           1 day
           {% pluralize %}
           {{ days_left }} days
           {% endtrans %}
           on
           {{ format_date(entry.end) }}
           </a>
    </dd>
  {% endfor %}
{% else %}
<dd><em>no one at the moment</em></dd>
{% endfor %}
</dl>
</div>

<div id="pto_left" class="extra-info">
<h2>How much PTO do I have left?</h2>

{% if left['hours'] %}
  <p>You have
  {% if left['hours'] > 16 %}
    <strong>{{ left['days'] }}</strong>
  {% else %}
    <strong>{{ left['hours'] }} hours</strong>
  {% endif %}
  of PTO left this year.</p>
{% else %}
  {% if left['missing'] %}
    <p class="missing">To be able to work this out, enter your
      <a href="{{ url('users.profile') }}">{{ ' and '.join(left['missing']) }}</a>.</p>
  {% else %}
    {% if left['less_than_a_year'] %}
    <p class="less_than_a_year">Sorry, this can not be automatically worked out if you
     have worked less than one year (you have worked here {{ left['less_than_a_year'] }} days)</p>
    {% endif %}
  {% endif %}
{% endif %}
</div>

{% if mobile %}
<p>It appears you're on a mobile device. <a href="{{ url('mobile.home') }}">Want the mobile version instead?</a>
</p>
{% endif %}
<div class="clearer">&nbsp;</div>
{% endblock %}


{% block extra_site_js %}
<script>
var CALENDAR_FIRST_DAY = {{ first_day }}; // 0=Sunday, 1=Monday
</script>
{{ js('dates.home') }}
{% endblock %}
