#calendar {
    width: 90%;
    margin: 0 auto;
}

.extra-info {
    margin: 30px 0 40px 20px;
}

.anchor {
    float:right;
    margin-left:20px;
}

#rightnow dt {
  margin-top:10px;
}

#rightnow dd {
  padding-left:20px;
  font-size:0.9em;
}
