<!doctype html>
<!-- to get the real source code of this project visit:
     https://github.com/mozilla/pto

     Long live Django!
-->
<html lang="en-US" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="shortcut icon" href="{{ static("img/favicon.ico") }}">
    <link rel="shortcut icon" type="image/x-icon" href="{{ static("img/favicon.ico") }}">
    <title>{% block page_title %}Mozilla PTO{% endblock %}</title>

    {#<link rel="stylesheet" href="{{ static("css/style.css") }}">#}
    {% compress css %}
    <link type="text/less" rel="stylesheet" href="{{ static("css/style.less") }}">
    <link rel="stylesheet" href="{{ static("css/libs/jquery_ui/redmond/jquery-ui-1.8.20.datepicker.autocomplete.dialog.css") }}">
    {% endcompress %}

    {% block extra_site_css %}
    {% endblock %}
  </head>
  <body>
  <div id="page">

  <header>
    <h1><a href="/">PTO Notification</a></h1>
    {% if request.user.is_authenticated() %}
    <nav>
      <ul id="menu">
        <li><a href="{{ url('dates.notify') }}">Notify</a></li>
        <li><a href="{{ url('dates.list') }}">List</a></li>
        <li>Hi <a href="{{ url('users.profile') }}">
	   <strong>{% if request.user.first_name %}{{ request.user.first_name }}{% else %}{{ request.user.username }}{% endif %}</strong>
	   </a>
           <a href="{{ url('users.logout') }}">log out</a>
        </li>
      </ul>
    </nav>
    {% endif %}
  </header>

  <section id="content">
    {% for message in messages %}
    <div class="flash">
      <a href="/" class="close" title="click to close">x</a>
      <p>{{ message }}</p>
    </div>
    {% endfor %}

  {% if page_title %}<h2>{{ page_title }}</h2>{% endif %}
  {% block content %}{% endblock %}
  </section>

  <script>function L() {if (window.console && window.console.log)console.log.apply(console, arguments)}</script>
  {% block site_js %}
    {% compress js %}
    <script src="{{ static("js/libs/jquery-1.7.2.min.js") }}"></script>
    <script src="{{ static("js/libs/jquery-ui-1.8.20.datepicker.autocomplete.dialog.min.js") }}"></script>
    <script src="{{ static("js/global.js") }}"></script>
    {% endcompress %}
  {% endblock %}
  {% block extra_site_js %}
  {% endblock %}
  </div>
  </body>
</html>
